<!-- bottom navbar -->
<nav class="navbar fixed-bottom navbar-dark" style="background-color: rgba(82, 28, 63, 1);">
<h10 class="navbar-text">&copy; Copyright 2023. All Rights Reserved by Omar Bushnaq | <a href="https://github.com/OmarBushnaq">Github</a> | <a href="https://www.linkedin.com/in/bushnaq-omar">Linkedin</a></h10>
</nav>